# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/react-road.iml
.idea/workspace.xml
/009-react-app/node_modules/
/010-react-demo/node_modules/
011-friend-list/.gitignore
011-friend-list/node_modules/
/012-playlist/node_modules/
/013-playlist-router/node_modules/
/014-redux-start/node_modules/
/015-redux-counter/node_modules/
/016-redux/.idea/
/016-redux/node_modules/
