ul,li,h2 {
    margin: 0;
}
h2,li {
    cursor: pointer;
}

.group {
    background: grey;
    margin-bottom: 10px;
}

.title {
    background: darkcyan;
}

.list {
    transition: .5s;
    overflow: hidden;
}
