.app {
  width: 800px;
  margin: 60px auto;
  background: #cdcdcd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 10px grey;
  position: relative;
  min-height: 100px;
}
.add,.back {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 6px;
  padding: 4px 8px;
  border: 1px solid grey;
  color: #000;
  text-decoration: none;
}
.add:hover {
  background: #000;
  color: #fff;
}
h2.center {
  text-align: center;
}
.switch {
  border: none;
  outline: none;
  text-decoration: underline;
  color: green;
  background: none;
}
.bold {
  font-weight: bold;
}


h1,form {
  text-align: center;
}
table {
  margin: 20px 0;
  width: 800px;
  text-align: center;
  border: 1px solid grey;
}

input {
  margin-right: 4px;
}
input[type='submit'] {
  border: none;
  outline: none;
  border-radius: 12px;
  background: darkgreen;
  color: #fff;
  vertical-align: middle;
}

div.info {
  overflow: hidden;
  height: 50px;
}
div.info span {
  float: left;
}
div.info span:last-of-type {
  float: right;
}
